#Group2{
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-name: Fire;
}

@keyframes Fire{
    0%{
    width: 18.82px; 
    height:27.49px;
    }
    50%{
        width: 20px; 
        height:29px;
    }
    100%{
        width: 18.82px; 
        height:27.49px;
    }
}

#Group3{
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: Rocket;
}

@keyframes Rocket{
    0%{
    width: 18.82px; 
    height:27.49px;
    }
    50%{
        width: 20px; 
        height:29px;
    }
    100%{
        width: 18.82px; 
        height:27.49px;
    }
}
