@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --OFF: "Offside";
  --Dark: #2f3136;
}
@font-face {
  font-family: "Offside";
  src: url("./../public/fonts/Offside-Regular.ttf");
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* {
  outline: 0;
  text-decoration: none;
  font-family: var(--OFF);
  outline: none;
}
