@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --OFF: "Offside";
  --Dark: #2f3136;
}
@font-face {
  font-family: "Offside";
  src: url("./../public/fonts/Offside-Regular.ttf");
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
* {
  outline: 0;
  text-decoration: none;
  font-family:"quicksand";
  outline: none;
}


body {
  background : #101010;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.me {
  position: relative;
}

.me:before{
  position: absolute;
  width : 100%;
  height : 100%;
  background : #BD2F2F;
  top: 100%;
}

.me::after{
  position: absolute;
  width : 100%;
  height : 100%;
  background : #BD2F2F;
}