.navbar {
}

.main_container {
  width: 100%;
  height: 100vh;
  background: var(--Dark);
}

.navbar {
  width: 100%;
  height: auto;
  display: flex;
}

.logo {
  margin: 10px;
}

.nav {
  display: block;
  margin: 20px;
}
.nav a {
  color: #fff;
  margin: 10px;
  padding-bottom: 10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  transition-duration: 0.5s;
}

.nav a:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #bcaa0b;
  height: 4px;
  margin-top: 20px !important ;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.nav a:hover:before {
  right: 0;
}

.nav a:hover {
  color: #f3dd13;
}
.current_page {
  color: #f3dd13 !important;
  padding-bottom: 6px !important;
}

.socialMedia {
  position: absolute;
  right: 10px;
  margin-top: 20px;
}

.socialMedia a {
  margin: 5px;
}
.ResBtn button {
  background: none;
  width: 44px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding-top: 4px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.ResBtn button:hover {
  background: #bcaa0b;
  border: 1px solid #bcaa0b;
}

/**/

@media (max-width: 770px) {
  .nav {
    display: block !important;
    background-color: #1d1e22;
    width: 100%;
    height: auto;
    margin: 0px !important;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .nav a {
    display: block;
  }
  .navbar {
    flex-direction: column;
  }
}
